<div class="span6 offset3 text-center steamy-hottub">

	<h1 class="custom-font">Hi, Welcome to My Webpage!</h1>

	<h2>I'm HeeSang and let's have a blast learning how to code in the hot tub woohoooo!</h2>

	<%= link_to 'Launch my App', 'pics_path', :class => 'btn btn-info btn-large' %>

</div>